/**** GENERAL STYLING ****/
body {
    margin: 0%; /* makes sure the site displays to the edge */
}

/* HEADING 1 ELEMENTS */
h1 {
    text-transform: uppercase;
    font-family: "Trebuchet MS", Optima;
    text-align: center;
    margin-top: 3%; /* adds a small margin above h1 elements */
    color: #1a1a1a;
}

h1:hover {
    filter: grayscale(5%);
    transform: scale(1.1); /* increase size by 1.1 when hovered over */
    transition: transform 1s; /* causes transformation to last 1 second */
}

/* STYLING FOR PORTFOLIO TITLE TEXT */
.white-text {
    color: #fff;
}

/* PARAGRAPH ELEMENTS */
p {
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: justify; /* justify text within paragraph elements */
    letter-spacing: 1px; /* This expands the text slightly */
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

p:hover {
    transition: transform 1s; /* makes the transform effect last 1 second */
    transform: scale(1.01);
}

/* CENTER CLASS */
.center {
    text-align: center;
}

.center:hover {
    transition: transform 2s;
    transform: scale(1.1);
}

/* ANCHOR ELEMENTS */
a {
    color: blue;
}

/* QUOTATION ELEMENTS */
q {
    font-style: italic;
}

/* IMAGE EFFECTS */
img {
    filter: grayscale(75%); /* goodbye to 75% of the color */
    border-radius: 8px;
    max-width: 100%; /* ensures all images stay within the width of their container */
    height: 340px;
    display: block; /* by specifying block display we can ensure our images are able to be centered */
    margin-left: auto; /* in combination with 'margin-right: auto;' this centers all images */
    margin-right: auto;
}

img:hover {
    filter: grayscale(5%); /* brings back most of the image's color when hovered over */
    transition: transform 1s;
    transform: scale(1.1);
}

/* the @media rule is used in media queries to apply different styles for different media/types of devices */
/* on screens 576px and smaller the images will be 100px tall and centered vertically in the column */
@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}

/* FOOTER ELEMENT */
footer {
    padding: 2%;
    background-color:  #2B7A78;
}

/**** END OF GENERAL STYLING ****/

/*** NAV BAR STYLING ****/
.Navbar {
    overflow: hidden; /* ensures that content overflowing beyond boundary of our navbar is not displayed */
    background-color: #17252A;
    position: fixed;
    top: 0; /* ensures there's no space above the navbar */
    width: 100%; 
    z-index: 1;
    -webkit-animation: moveNav 5s; /* this applies the moveNav animation below for Safari 4.0-8.0 */
    animation: moveNav 5s; /* for all other browsers */
}

/* moveNav animation effect for moving the nav bar in from the left of the screen */
@keyframes moveNav {
    from {left: -100vw;} /* the nav bar is starting off screen to the left */
    to {left: 0vw;} /* this moves the nav bar into place on the screen */
}

/* nav bar links */
.Navbar a {
    float: left; /* this specifies that the text floats on the left on the nav bar */
    display: block; /* this ensures that other text will be displayed on the same line or row, instead of a new line */
    color: white;
    padding: 14px 16px;
    text-decoration: none; /* gets rid of the underlines under the text */
    font-family: Avant Garde, Helvetica;
    font-size: 20px;
    text-align: center;
    position: relative; /* this sets the text relative to its normal positioning, allowing us to use the animation below */
    -webkit-animation: moveNavText 5.75s; /* animation for safari 4.0 - 8.0 */
    animation: moveNavText 5.75s; 
}

/* moveNavText animation effect for moving the navbar text from above the view to the nav bar */
@keyframes moveNavText {
    from {top: -100vw;} /* this sets the navbar text 100% above the viewport */
    to {top: 0vw;} /* this lowers the nav bar text onto nav bar */
}

/* Screens 576px and smaller will display nav bar links equally distributed */
@media screen and (max-width: 576px) {
    .Navbar a{
        width: 25%; /* This makes each link take up 1/4 of the navbar */
        font-size: 12px;
    }
}

/* NAV BAR HOVER EFFECTS */
.Navbar a:hover {
    background-color: #f4f4f4;
    color: black;
    font-weight: bold;
}

.Navbar a.active { /* this targets the 'a' element on the nav bar with the "active" class */
    background-color: #2B7A78;
}
/**** END OF NAV BAR STYLING ****/

/**** VIDEO STYLING ****/
/* formatting for background video */
#Typing_Video {
    position: fixed; 
    right: 0; /* this ensures there is no space between the edge of the video and the edge of the page */
    bottom: 0; /* this ensures no space between the bottom of the video and the bottom of the page */
    min-width: 100%; /* this ensures the vieo is displayed across the full width of the page */
    z-index: -1; /* this places the video behind the other elements on the page */
}   

/* screens that are 567px and smaller will not display the background video */
@media screen and (max-width: 576px) {
    #Typing_Video {
        display: none;
    }
}

/* TEXTS OVER THE VIDEO */
.Video_Text {
    background: rgba(17, 48, 47, 0.4); /* this provides a semi-transparent background for the text to sit over */
    color: white;
    width: 100%; /* doesn't adjust the text - just the width of the container it sits in */
    padding: 20px;
    position: relative; /* this sets the text relative to its normal positioning, allowing us to use the animation below */
    -webkit-animation: moveVideoText 5.75s;
    animation: moveVideoText 5.75s;
}

/* this animation effect causes the overlay video text to move up from the bottom of the page upon load */
@keyframes moveVideoText {
    from {top: -100vw;} /* sets position of the video text to above the viewport */
    to {top: 0vw;} /* moves the video text to the normal positioning on the viewport */
}
/**** END VIDEO STYLING ****/

/**** TABLE STYLING ****/
* { /* the asterisk means this applies to all elements on the page */
    box-sizing: border-box; /* creates a box with a border which we will place most of our text */
}

.Column_1 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 3%; /* makes sure we have space between top of column and our headings */
    padding-bottom: 3%;
    height: 400px; /* sets height of column - may need to be adjusted depending on amount of text */
    background-color: #3AAFA9;
}

/* screens 576px and smaller will display a scroll bar if the text overflows the column height */
@media screen and (max-width: 576px) {
    .Column_1 {
        overflow: auto;
    }
}

.Column_2 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height: 400px;
    background-color: #DEF2F1;
}

/* this class is applied to the columns in the final row, overriding the height and padding to provide more room for contact form while keeping the formatting from Column_1/2 */
.Column_tall {
    padding-top: 3.5%;
    height: 450px;
}

/* this inserts something after the content of selected elements (in this case 'Row') */
.Row:after {
    content: ""; /* leaving this blank allows footer (below) to be displayed - removing it makes the footer overwrite a column */
    display: table; /* specifies the type of display behavior; the table value tells browser to treat element as a table */
    clear: both; /* clears any other elements from floating on the left or the right of an element */
}
/**** END OF TABLE STYLING ****/

/**** CONTACT FORM STYLING ****/
input[type=text] { /* this targets all text input sections of the contact form */
    width: 100%;
    padding: 12px; /* adds padding within text box */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* creates a box with a border around the contact form input boxes */
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical; /* allows user to resize the text boxes vertically */
    font-family: Perpetua, Rockwell Extra Bold;
}

input[type=text]:hover {
    box-shadow: 0 0 5px #00004d inset; /* this creates a blue shadow in the text box when hovered over */
}

/* submit button */
input[type=submit] {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto; /* these centered the button in the container */
    font-family: Perpetua, Rockwell Extra Bold;
}

input[type=submit]:hover {
    background-color: white;
    color: black;
    transform: scale(1.5);
    transition: transform 1.5s
}

/* form element */
form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    font-family: "Trebuchet MS", Optima;
}


